.MuiInputBase-root {
  color: white !important;
}
.login__button {
  background-color: rgb(62, 99, 182);
  border-color: rgb(62, 99, 182);
  cursor: pointer;
  color: white;
}
.MuiInputLabel-formControl {
  color: white !important;
}
.login__a {
  color: green;
  text-decoration: none;
}
.login__a:hover {
  color: white;
}
.login__a__button {
  display: flex;
  justify-content: space-around;
}
.ageType {
  font-size: 14px;
  background-color: #fb4226;
  border-radius: 4px;
  padding: 0 5px;
  color: #fff;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
}
